<header class="header">
    <div class="header__content container">
        <div class="logo">
            <div class="logo__dub">
                <a href="#root">Наверх</a>
            </div>
            <div class="logo__img">
                <img src="/images/icons/logo.svg" alt="logo">
            </div>
        </div>
        <div class="header__menu">Меню</div>
        <div class="header__nav">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#about-us">Текст и картинки</a>
                    </li>
                    <li class="nav__item">
                        <a href="#slider">Пример слайдера</a>
                    </li>
                    <li class="nav__item">
                        <a href="#presentation">Кнопки и картинки</a>
                    </li>
                    <li class="nav__item">
                        <a href="#info">Вопрос — ответ</a>
                    </li>
                </ul>
            </nav>
            <a href="#footer-form" class="header__button button">К форме</a>
        </div>
        <button class="header__burger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
<div class="mobile-menu"></div>
