<footer class="footer" id="footer-form">
    <div class="footer__wrapper container">
        <div class="footer__content">
            <div class="footer__left">
                <h2 class="footer__title">Форма ОС</h2>
                <p class="footer__description">
                    Сверстай форму обратной связи. Будет круто, если заявку будут
                    приходить сюда: a@growtask.ru
                </p>
            </div>
            <div class="social">
                <p class="social__reminder">Не забудь вставить соц.сети</p>
                <div class="social__items">
                    <a class="social__vk" href="https://vk.com/growtask" target="_blank"></a>
                    <a class="social__tg" href="https://t.me/growtask" target="_blank"></a>
                </div>
            </div>
            <div class="footer__form">
                <form class="form" action="">
                    <div class="form__row">
                        <input class="form__text-field" type="text" placeholder="Напиши вопрос*">
                        <input class="form__text-field" type="text" placeholder="Телефон или почта*">
                    </div>
                    <div class="form__row">
                        <input class="form__text-field" type="text" placeholder="Твоё имя*">
                        <input class="form__text-field" type="text" placeholder="Соц.сеть или мессенджер">
                    </div>
                    <div class="form__row form__row-btns">
                        <button class="button">Отправить заявку</button>
                        <label class="checkbox">
                            <input class="checkbox__custom-checkbox" checked="" type="checkbox">
                            <span class="checkbox__checkmark"></span>
                            <span>Согласие с политикой</span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>
