<section class="about-us" id="about-us">
    <div class="about-us__wrapper container">
        <div class="about-us__column  about-us__column-left">
            <div class="about-us__info">
                <h2 class="about-us__title">Про вакансию</h2>
                <p class="about-us__first-text">
                    Мы ищем аккуратного верстальщика, который хочет учиться и развиваться. С этим мы, конечно
                    же,
                    поможем.
                </p>
                <p class="about-us__second-text">Напомним про условия:</p>
            </div>
            <ul class="about-us__cards">
                <li class="about-us__card">
                    <p class="about-us__card-title">20 000</p>
                    <p class="about-us__card-info">Твой оклад на время стажировки (Возможны премии)</p>
                </li>
                <li class="about-us__card">
                    <p class="about-us__card-title">5/2</p>
                    <p class="about-us__card-info">Рабочий график</p>
                </li>
                <li class="about-us__card">
                    <p class="about-us__card-title">8 ч</p>
                    <p class="about-us__card-info">Рабочий день</p>
                </li>
            </ul>
        </div>
        <div class="about-us__column">
            <div class="swiper gallery">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/about-us/about-us-1.jpg" alt="about-us-1">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/about-us/about-us-2.jpg" alt="about-us-2">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/about-us/about-us-3.jpg" alt="about-us-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
