<section class="hero container">
    <div class="hero__info">
        <h1 class="hero__info-title">Покажи нам чудеса <span>своей вёрстки</span></h1>
        <p class="hero__info-description">
            Это текстовое задание, которое нужно просто и грамотно сверстать. Мы уверены, что у тебя всё
            получится.
        </p>
    </div>
    <div class="hero__card-wrapper">
        <div class="hero__card">
            <h4 class="hero__card-title">Покажи скролл <span>до формы:</span></h4>
            <a href="#footer-form" class="hero__card-link button">К форме</a>
        </div>
    </div>
    <div class="hero__gallery">
        <div class="hero__gallery-left">
            <img class="hero__gallery-img" src="/images/hero/hero-1.jpg" alt="">
            <img class="hero__gallery-img" src="/images/hero/hero-2.jpg" alt="">
        </div>
        <div class="hero__gallery-right">
            <img class="hero__gallery-img" src="/images/hero/hero-3.jpg" alt="">
        </div>
    </div>
</section>
