@import "../../styles/scss/func";

.hero {
  display: grid;
  grid-template: ". gallery" auto "card gallery" 1fr / 1fr 1fr;

  margin-top: vw(69px);
  padding: vw(44px) vw(45px) vw(120px);
  column-gap: vw(20px);

  @media screen and (max-width: $hd-width) {
    margin-top: vwh(64px);
    padding: vwh(60px) vwh(16px);
    column-gap: vwh(20px);
  }

  @media screen and (max-width: $tablet-width) {
    margin-top: vwt(64px);
    padding: vwt(60px) vwt(16px);
  }

  @media screen and (max-width: $mobile-width) {
    margin-top: vwm(64px);
    padding: vwm(60px) vwm(16px);
    grid-template-columns: 1fr;
    grid-template-areas:
    "."
    "gallery"
    "card";
    gap: vwm(20px);
  }

  &__info {
    margin: vw(81px) vw(0) vw(60px);

    @media screen and (max-width: $hd-width) {
      margin: vwh(81px) vwh(0) vwh(60px);
    }
    @media screen and (max-width: $tablet-width) {
      margin: vwt(0) 0 vwt(60px);
    }
    @media screen and (max-width: $mobile-width) {
      margin: 0;
    }
  }

  &__info-title {
    margin-bottom: vw(40px);

    @media screen and (max-width: $hd-width) {
      margin-bottom: vwh(40px);
    }
    @media screen and (max-width: $tablet-width) {
      margin-bottom: vwt(20px);
    }
    @media screen and (max-width: $mobile-width) {
      margin-bottom: vwm(20px);
    }

    span {
      color: var(--color-text-green);
    }
  }

  &__info-description {
    max-width: 460px;
  }

  &__card-wrapper {
    grid-area: card;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: vw(504px);
    background-color: #030D0D;
    padding: vw(40px);
    border-radius: vw(8px);

    @media screen and (max-width: $hd-width) {
      max-width: vwh(342px);
      padding: vwh(20px);
      flex-direction: column;
      align-items: stretch;
      row-gap: vwh(30px);
      border-radius: vwh(8px);
    }
    @media screen and (max-width: $tablet-width) {
      padding: vwt(20px);
      max-width: 100%;
      row-gap: vwt(20px);
      border-radius: vwt(8px);
    }
    @media screen and (max-width: $mobile-width) {
      padding: vwm(20px);
      row-gap: vwm(20px);
      border-radius: vwm(8px);
    }
  }

  &__card-title {
    color: #FFF;
    font-weight: 800;

    span {
      color: var(--color-text-green);
    }
  }

  &__card-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__gallery {
    grid-area: gallery;
    display: flex;
    column-gap: 20px;

    @media screen and (max-width: $hd-width) {
      column-gap: vwh(20px);
    }
    @media screen and (max-width: $tablet-width) {
      column-gap: vwt(16px);
    }
    @media screen and (max-width: $mobile-width) {
      column-gap: vwm(16px);
    }
  }

  &__gallery-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: vw(20px);

    @media screen and (max-width: $hd-width) {
      row-gap: vwh(20px);
    }
    @media screen and (max-width: $tablet-width) {
      row-gap: vwt(16px);
    }
    @media screen and (max-width: $mobile-width) {
      row-gap: vwm(16px);
    }
  }

  &__gallery-right {
    display: flex;
    align-items: center;
  }

  &__gallery-img {
    border-radius: vw(8px);

    @media screen and (max-width: $hd-width) {
      border-radius: vwh(8px);
    }
    @media screen and (max-width: $tablet-width) {
      border-radius: vwt(8px);
    }
    @media screen and (max-width: $mobile-width) {
      border-radius: vwm(8px);
    }
  }
}
