<section class="slider" id="slider">
    <div class="slider__wrapper container">
        <div class="slider__control">
            <h2>Сверстай слайдер</h2>
            <div class="slider__control-btns">
                <button class="slider__button slider__button-prev">
                    <img src="/images/icons/left-arrow.svg" alt="left-arrow">
                </button>
                <button class="slider__button slider__button-next">
                    <img src="/images/icons/right-arrow.svg" alt="right-arrow">
                </button>
            </div>
        </div>
        <div class="swiper slider__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-1.jpg" data-fancybox alt="img1">
                    <div class="swiper__description">
                        Северная корона
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-2.jpg" data-fancybox alt="img2">
                    <div class="swiper__description">
                        Moscow barbering school
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-3.jpg" data-fancybox alt="img3">
                    <div class="swiper__description">
                        Rh store
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-4.jpg" data-fancybox alt="img3">
                    <div class="swiper__description">
                        Poolspecial
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-5.jpg" data-fancybox alt="img3">
                    <div class="swiper__description">
                        Rh prod
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-1.jpg" data-fancybox alt="img3">
                    <div class="swiper__description">
                        Rh prod
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-2.jpg" data-fancybox alt="img3">
                    <div class="swiper__description">
                        Rh prod
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-3.jpg" data-fancybox alt="img3">
                    <div class="swiper__description">
                        Rh prod
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-4.jpg" data-fancybox alt="img3">
                    <div class="swiper__description">
                        Rh prod
                    </div>
                </div>
                <div class="swiper-slide slider__item">
                    <img src="/images/slider/slider-5.jpg" data-fancybox alt="img3">
                    <div class="swiper__description">
                        Rh prod
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
