<section class="presentation" id="presentation">
    <div class="presentation__wrapper container">
        <div class="presentation__content">
            <div class="presentation__content-item">
                <img src="/images/presentation/presentation-1.jpg" alt="">
            </div>
            <div class="presentation__content-item">
                <img src="/images/presentation/presentation-2.jpg" alt="">
            </div>
            <div class="presentation__content-item">
                <img src="/images/presentation/presentation-3.jpg" alt="">
            </div>
        </div>
        <ul class="presentation__list">
            <li class="presentation__item presentation__item_active">
                <img src="/images/presentation/presentation-1.jpg" alt="">
                <span>Картинка 1</span>
            </li>
            <li class="presentation__item">
                <img src="/images/presentation/presentation-2.jpg" alt="">
                <span>Картинка 2</span>
            </li>
            <li class="presentation__item">
                <img src="/images/presentation/presentation-3.jpg" alt="">
                <span>Картинка 3</span>
            </li>
        </ul>
    </div>
</section>
